@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    background-color: #f7f7f7eb;
}

* {
    box-sizing: border-box;
    --lapis-shade: #0076dc;
    --heliotrope: #7a1ba6; 
    --lapis-gradient: linear-gradient(90deg,var(--lapis-shade) 0%,var(--heliotrope) 100%);
    --bs-font-sans-serif: "Open Sans",sans-serif;
    --eggplant-gradient: linear-gradient(260.85deg,#7e5cef 10.29%,#002838 89.71%);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 27px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 8px;
}

.has-x-large-font-size {
    font-size: 50px;
}

.has-large-font-size {
    font-size: 35px;
}

p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 300;
}

a {
    color: #ffdb59;
}

a:visited {
    color: #ffdb59;
}

.slant {
    height: 70%;
    display: block;
}

.mask-container {
    position: absolute;
    width: 100%;
    height: 70%;
    overflow: visible;
    z-index: -1;
}

.mask-background {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: skewY(-7deg);
    transform-origin: 0;
    z-index: -1;
}

.content-container {
    min-height: 70%;
    font-size: 40px;
    font-weight: 600;
    z-index: 1;
    padding-top: 200px;
}