html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    @apply bg-lcdYellow;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    --lapis-shade: #0076dc;
    --heliotrope: #7a1ba6; 
    --lapis-gradient: linear-gradient(90deg,var(--lapis-shade) 0%,var(--heliotrope) 100%);
    --bs-font-sans-serif: "Open Sans",sans-serif;
    --eggplant-gradient: linear-gradient(260.85deg,#7e5cef 10.29%,#002838 89.71%);
}

h1 {
    font-size: 50px;
    padding-top: 16px;
}

h2 {
    font-size: 42px;
    padding-top: 16px;
}

h3 {
    font-size: 35px;
    padding-top: 16px
}

h4 {
    font-size: 27px;
    padding-top: 8px
}

h5 {
    font-size: 15px;
    padding-top: 4px;
}

h6 {
    font-size: 8px;
    padding-top: 4px;
}

p {
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 500;
    line-height: 29px;
    font-size: 18px;
}

a {
    color: rgb(29 78 216);
}